
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: rgba(128, 128, 128, 0.149);
}
.details-container{
    height: auto;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 0 5px 5px rgba(1, 1, 1, 0.381);
}
.image-section{
    width: 100%;
    height: 100%;
}
.back-btn{
    position: absolute;
    top: 80px;
    left: 120px;
    background: none;
    border: none;
    padding: 10px;
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8); 
    transition: 0.5s ease all;
}
.back-btn span{
    font-size: 30px;
}
.back-btn:hover{
    background: rgba(234, 231, 231, 0.527);
    color: black;
    border-radius: 10px;
}
.bckground{
    height: 400px;
    width: 100%;
    object-fit: cover;
    opacity: 0.8;
    filter: brightness(0.6);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}




.content-section{
    margin: 40px;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 20px;
}
.header-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.header-section h2{
    font-size: 40px;
    font-weight: 600;
}
.header-section .like-btn{
    position: absolute;
    right: 80px;
    background: none;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    transition: transform 0.3s ease;
}
.header-section .like-btn img{
    height: 100%;
    width: 100%;
}
.header-section .like-btn .heart-full { display: none; }
.header-section .like-btn .heart-outline { display: inline-block; }

.header-section .like-btn.active .heart-full { display: inline-block; }
.header-section .like-btn.active .heart-outline { display: none; }

.header-section .like-btn:hover{
    transform: scale(1.1);
}

.info-section{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 30px;
}
.info-section .anime-rating,
.info-section .anime-genres{
    font-size: 17px;
    font-weight: 500;
    color: rgb(113, 113, 113);
    background: rgba(228, 227, 227, 0.5);
    padding: 7px;
    border-radius: 5px;
}

.description-section p{
    text-align: justify; /* Makes both edges straight */
    text-justify: inter-word; /* Improves spacing for better alignment */
    hyphens: auto; /* Adds hyphens for long words (optional) */
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 50px;
}
@media (min-width: 370px){
    .back-btn{
        position: absolute;
        top: 70px;
        left: auto;
        background: none;
        border: none;
        padding: 10px;
        font-size: 15px;
        color: white;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8); 
        transition: 0.5s ease all;
    }
    .back-btn span{
        font-size: 15px;
    }
}
@media (min-width: 768px){
    .back-btn{
        position: absolute;
        top: 80px;
        left: auto;
        background: none;
        border: none;
        padding: 10px;
        font-size: 18px;
        color: white;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8); 
        transition: 0.5s ease all;
    }
    .back-btn span{
        font-size: 30px;
    }
}

@media (min-width: 1028px){
    .header-section .like-btn{
        position: absolute;
        right: 250px;
        background: none;
        border: none;
        cursor: pointer;
        height: 60px;
        width: 60px;
        transition: transform 0.3s ease;
    }
}
